@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    font-family: 'Poppins',Arial,sans-serif;
    scroll-behavior: smooth;
    color: #cff6f5;
}

a {
    text-decoration: none;
    font-weight: 700;
    transition-duration: 500ms;
}

a:hover{
    color: #00ffb7;
    transition-duration: 500ms;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0 !important;
}

.info h1 {
    color: #00ffb7;
}

.info li {
    padding-bottom: 5%;
}

.info ul {
    
    display: block;
    padding: 5%;
}

p {
    color: #8f9e9a;
    font-weight: 500;
}

svg {
    fill: #8f8f8f;
    transition-duration: 500ms;
}

svg:hover {
    fill: #00ffb7;
    transition-duration: 500ms;
}
